html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-color: rgb(241, 241, 241);
  font-family: poppins, "SFProDisplay-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.container {
  width: 1100px;
}

header {
  box-shadow: 0 0 23px grey;
  background-color: white;
  margin-bottom: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
  height: 80px;
  font-size: 15px;
  line-height: 20px;
  width: 100%;
}

.logo::before {
  content: "";
  position: absolute;
  background-image: url("../images/logo.svg");
  width: 60px;
  height: 60px;
  left: 10px;
  top: 10px;
  background-repeat: no-repeat;
  margin-left: 50px;
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  padding-left: 50px;
}

.header__main {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  min-width: 500px;
}

.header__box {
  margin-right: 50px;
}
.posts__main {
  display: flex;
  justify-content: center;
}

.posts__inner {
  display: flex;
  justify-content: space-between;
}

.post__list {
  width: 740px;
}

.post__list img {
  width: 100%;
}

.posts__inner-aside {
  width: 330px;
}

.cont {
  padding: 15px;
  font-size: 15px;
}
.post-header {
  margin-top: 0px;
  line-height: 10px;
  font-weight: 700;
}
.cont p.description {
  line-height: 40px;
}
/* .cont a {
      text-decoration: none;
      border: 1px solid rgb(197, 196, 196);
      padding: 10px;
      color: black;
      line-height: 50px;
    }
    .cont a:hover {
      background-color: rgb(197, 196, 196);
    } */

.advertising {
  background-color: white;
  box-shadow: 0 0 23px grey;
  margin-bottom: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 95px;
}
.advertising img {
  width: 100%;
}

.post {
  background-color: white;
  margin-bottom: 40px;
  box-shadow: 0 0 23px grey;
}

/*
    popular__posts
    */

.d1 {
  background-color: rgb(211, 211, 211);
  padding: 20px;
  font-size: 22px;
}

.popular__posts img {
  width: 60px;
  float: left;
}
.scont {
  float: left;
  padding-left: 20px;
  line-height: 8px;
}
.d2 {
  padding: 15px;
  border-bottom: 2px solid rgb(214, 214, 214);
}
.d2::after {
  content: "";
  clear: both;
  display: table;
}

.d2:hover {
  background-color: rgb(185, 182, 182);
}

.d3 {
  padding: 15px;
  border-bottom: 2px solid rgb(214, 214, 214);
}
.d3::after {
  content: "";
  clear: both;
  display: table;
}
.d3:hover {
  background-color: rgb(185, 182, 182);
}

.d4 {
  padding: 15px;
  border-bottom: 2px solid rgb(214, 214, 214);
}
.d4::after {
  content: "";
  clear: both;
  display: table;
}
.d4:hover {
  background-color: rgb(185, 182, 182);
}

.d5 {
  padding: 15px;
  border-bottom: 2px solid rgb(214, 214, 214);
}
.d5::after {
  content: "";
  clear: both;
  display: table;
}
.d5:hover {
  background-color: rgb(185, 182, 182);
}
/*
    footer
    */
.footer {
  background: #bebeb6;
}

.footer__bottom {
  padding: 46px 0 22px;
  display: flex;
  justify-content: center;
}

.footer__bottom-link {
  line-height: 12px;
  color: #48494d;
  font-size: 10px;
  margin: 0 40px;
}

.footer__top {
  padding-top: 43px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.footer__top-newslatter.footer__top-item {
  width: 295px;
  margin-right: 50px;
}

.footer__top-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.footer-form {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}

.footer-form__input {
  background-color: #fff;
  border: none;
  line-height: 17px;
  font-size: 14px;
  padding: 0 12px;
}

.footer-form__input::placeholder {
  color: #c4c4c4;
}

/* .footer-form__btn {
      text-transform: uppercase;
      padding: 10px 16px;
      border: none;
    
      background: rgb(0, 172, 238);
      color: #fff;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.12em;
      font-family: "SFProDisplay-Semibold", sans-serif;
    } */

.footer__top-item {
  width: 200px;
}

.footer-list {
  font-size: 14px;
  line-height: 23px;
}

.footer__top-social.footer__top-item {
  width: 250px;
}

.social-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.social-list__item + .social-list__item {
  margin-left: 30px;
}

.custom-btn {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 10px 25px;
  color: #fff;
  background: #1c62cd;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.custom-link {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 10px 25px;
  color: #fff;
  background: #1c62cd;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.custom-link-negative {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 10px 25px;
  color: #fff;
  background: red;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.streamForm {
  display: flex;
  justify-content: center;
}

.streamForm__inner {
  width: 550px;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.streamForm__inner h3 {
  margin-bottom: 30px;
}

input,
label {
  width: 100%;
  display: block;
}

.error {
  color: red;
  font-size: 15px;
}

.post-input {
  background-color: #eee;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin: 10px 0 20px 0;
  padding: 20px;
  box-sizing: berder-box;
}

.form-title {
  display: flex;
  justify-content: center;
}

.createPostBtn {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.modal {
  width: 550px;
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.modal-btn {
  margin-top: 15px;
}

.content {
  margin-top: 5px;
}

textarea {
  width: 100%;
  min-height: 150px;
  line-height: 150%;
  resize: vertical;
}
